<!DOCTYPE html>
<html>
<head>
    <title>Lista de Libros</title>
</head>
<body>
    <h1>Lista de Libros</h1>

    <a href="{% url 'libro_create' %}">Agregar nuevo libro</a>
    <ul>
        {% for libro in libros %}
            <li>
                <a href="{% url 'libro_detail' libro.pk %}">{{ libro.titulo }}</a> - {{ libro.autor }}
                (<a href="{% url 'libro_update' libro.pk %}">Editar</a> |
                <a href="{% url 'libro_delete' libro.pk %}">Eliminar</a>)
            </li>
        {% empty %}
            <li>No hay libros disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>
libro_detail.html
